services:
  base:
    extends:
      file: ${MODULES}/base/docker/o5gc/services.yaml
      service: base-ran
    image: o5gc/srsran-project
    entrypoint: [ "/mnt/srsran/entrypoint.sh" ]
    volumes:
      - .:/mnt/srsran/:ro
      - ${DEVELOP_VOLUME_SRSRAN:-${BASE}/var/empty:/var/empty}
    profiles: [ srsran ]

  gnb:
    extends:
      service: base
    container_name: gnb
    command: gnb
    environment:
      - DOCKER_TARGET_HOSTNAME=${GNB_HOSTNAME}
    networks:
      rfnet:
        ipv4_address: ${GNB_RF_IP_ADDR}
      corenet:
        ipv4_address: ${GNB_IP_ADDR}
    profiles: [ "gnb" ]
