services:
  gnb:
    extends:
      file: ${DOCKER}/srsran/project/services.yaml
      service: gnb
    environment:
      - RF_DEVICE_NAME=zmq
      - RF_DEVICE_ARGS=fail_on_disconnect=true,tx_port=tcp://${GNB_RF_IP_ADDR}:2000,rx_port=tcp://${UE_RF_IP_ADDR}:2001,id=enb,base_srate=23.04e6

  ue:
    extends:
      file: ${DOCKER}/srsran/4g/services.yaml
      service: ue
    environment:
      - RF_DEVICE_NAME=zmq
      - RF_DEVICE_ARGS=tx_port=tcp://${UE_RF_IP_ADDR}:2001,rx_port=tcp://${GNB_RF_IP_ADDR}:2000,id=ue,base_srate=23.04e6"
      - TX_GAIN=50
      - RX_GAIN=40
      - RF_SRATE=23.04e6
      - USIM_MODE=soft
      - USIM_ALGO=milenage
      - USIM_OPC=${UE_SOFT_OPC}
      - USIM_KEY=${UE_SOFT_KEY}
      - USIM_IMSI=${MCC}${MNC}${UE_SOFT_MSIN}
      - USIM_IMEI=353490069873319
      - NR_NOF_CARRIERS=1
      - UE_RELEASE=15
    depends_on: [ gnb ]

  mongo:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: mongo
  mongo-express:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: mongo-express

  open5gs-webui:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: webui

  open5gs-init:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: init

  nrf:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: nrf

  ausf:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: ausf

  udr:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: udr

  udm:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: udm

  pcf:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: pcf

  bsf:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: bsf

  nssf:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: nssf

  smf:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: smf

  upf:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: upf

  amf:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: amf

  pcrf:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: pcrf

  scp:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: scp
