services:
  gnb:
    extends:
      file: ${DOCKER}/oai/services.yaml
      service: gnb
    image: o5gc/oai-ran:2024.w23-4.4.0.0
    command: gnb --sa
    volumes:
      - ./gnb.conf:/o5gc/openairinterface5g/etc/gnb.conf:ro

  mongo:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: mongo
  mongo-express:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: mongo-express

  open5gs-webui:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: open5gs-webui

  open5gs-init:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: open5gs-init

  nrf:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: nrf

  ausf:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: ausf

  udr:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: udr
    depends_on: [ mongo, nrf ]

  udm:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: udm
    depends_on: [ nrf ]

  pcf:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: pcf
    depends_on: [ mongo, nrf ]

  bsf:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: bsf
    depends_on: [ mongo, nrf ]

  nssf:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: nssf
    depends_on: [ nrf ]

  sgwc:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: sgwc
    depends_on: [ smf, upf ]

  sgwu:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: sgwu
    depends_on: [ smf, upf ]

  smf:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: smf
    depends_on: [ nrf ]

  upf:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: upf
    depends_on: [ nrf, smf ]

  amf:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: amf
    depends_on: [ ausf, bsf, nrf, pcf, smf, udm, udr, upf ]

  pcrf:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: pcrf
    depends_on: [ mongo ]

  scp:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: scp
