services:
  enb:
    extends:
      file: ${DOCKER}/srsran/4g/services.yaml
      service: enb
    environment:
      - RF_DEVICE_NAME=auto
      - RF_DEVICE_ARGS=auto

  mongo:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: mongo
  mongo-express:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: mongo-express

  open5gs-webui:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: webui

  open5gs-init:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: init

  hss:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: hss

  sgwc:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: sgwc

  sgwu:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: sgwu

  smf:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: smf
  #        volumes:
  #            - ./smf.yaml:/mnt/open5gs/smf.yaml

  upf:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: upf
    depends_on: [ smf ]

  nrf:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: nrf

  mme:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: mme

  pcrf:
    extends:
      file: ${DOCKER}/open5gs/services.yaml
      service: pcrf

  volte-dns:
    extends:
      file: ${DOCKER}/volte/services.yaml
      service: dns

  mysql:
    extends:
      file: ${DOCKER}/mysql/services.yaml
      service: mysql
    profiles: [ "core" ]
  phpmyadmin:
    extends:
      file: ${DOCKER}/mysql/services.yaml
      service: phpmyadmin
    profiles: [ "core" ]

  fhoss:
    extends:
      file: ${DOCKER}/volte/services.yaml
      service: fhoss
    depends_on: [ mysql, volte-dns ]

  icscf:
    extends:
      file: ${DOCKER}/volte/services.yaml
      service: icscf
    depends_on: [ fhoss, mysql, volte-dns ]

  pcscf:
    extends:
      file: ${DOCKER}/volte/services.yaml
      service: pcscf
    depends_on: [ icscf, mysql, rtpengine, scscf, volte-dns ]

  scscf:
    extends:
      file: ${DOCKER}/volte/services.yaml
      service: scscf
    depends_on: [ fhoss, mysql, volte-dns ]

  smsc:
    extends:
      file: ${DOCKER}/volte/services.yaml
      service: smsc
    depends_on: [ mysql, volte-dns ]

  rtpengine:
    extends:
      file: ${DOCKER}/volte/services.yaml
      service: rtpengine
    depends_on: [ fhoss, mysql, volte-dns ]

  # 2G components are started if SMS_DOMAIN is set to 'SMS-over-SGs'
  osmo-msc:
    extends:
      file: ${DOCKER}/osmocom/services.yaml
      service: osmo-msc

  osmo-hlr:
    extends:
      file: ${DOCKER}/osmocom/services.yaml
      service: osmo-hlr
