services:
  base:
    image: o5gc/srsran-4g
    entrypoint: [ "/mnt/srsran/entrypoint.sh" ]
    privileged: true
    env_file: [ "${ENV_FILE}" ]
    volumes:
      - .:/mnt/srsran/:ro
      - ${DEVELOP_VOLUME_SRSRAN:-${BASE}/var/empty:/var/empty}
    labels:
      o5gc.stack: ${O5GC_STACK}
      o5gc.webui.priority: ${WEBUI_PRIO_RAN}
    profiles: [ srsran ]

  epc:
    extends:
      service: base
    container_name: epc
    command: epc
    volumes:
      - ${MODULES}/base/docker/o5gc/core-init.sh:/mnt/o5gc/core-init.sh:ro
      - ${BASE}/etc:/mnt/o5gc/etc:ro
    networks:
      extnet:
        ipv4_address: ${EPC_EXT_IP_ADDR} # eth0
      corenet:
        ipv4_address: ${EPC_IP_ADDR} # eth1
    labels:
      o5gc.webui.priority: ${WEBUI_PRIO_CORE_HIGH}
    profiles: [ "core" ]

  ran:
    extends:
      service: base
    environment:
      - UHD_IMAGE_LOADER
    volumes:
      - ${BASE}/scripts/docker-remote.sh:/docker-remote.sh:ro
      - ${BASE}:/tmp/o5gc:ro
      - ${HOME}/.ssh:/mnt/.ssh:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /dev/bus/usb:/dev/bus/usb
    profiles: [ "ran" ]

  enb:
    extends:
      service: ran
    container_name: enb
    command: enb
    environment:
      - DOCKER_TARGET_HOSTNAME=${ENB_HOSTNAME}
    networks:
      rfnet:
        ipv4_address: ${ENB_RF_IP_ADDR}
      corenet:
        ipv4_address: ${ENB_IP_ADDR}
    profiles: [ "enb" ]

  gnb:
    extends:
      service: ran
    container_name: gnb
    command: gnb
    environment:
      - DOCKER_TARGET_HOSTNAME=${GNB_HOSTNAME}
    networks:
      rfnet:
        ipv4_address: ${GNB_RF_IP_ADDR}
      corenet:
        ipv4_address: ${GNB_IP_ADDR}
    profiles: [ "gnb" ]

  ue:
    extends:
      service: base
    container_name: ue
    command: ue
    environment:
      - EUTRA_NOF_CARRIERS=0
      - NR_NOF_CARRIERS=0
      - RF_SRATE=11.52e6
    volumes:
      - /dev/bus/usb:/dev/bus/usb
    networks:
      rfnet:
        ipv4_address: ${UE_RF_IP_ADDR}
    profiles: [ "ue" ]

  develop:
    extends:
      file: ${DOCKER}/o5gc/services.yaml
      service: develop
    image: o5gc/srsran-4g:develop
    container_name: srsran-develop
    hostname: srsran-develop
